<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="/"><h1>oceanpacificdreams</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/about" class="active">About Us</a></li>
              <li role="presentation"><a href="/explore">Explore</a></li>
              <li role="presentation"><a href="/gallery">Gallery</a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <% if(loggedIn) { %>
                <li role="presentation"><a href="/account">Account</a></li>
                <li role="presentation"><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->
  <img class="img-responsive text-center" src="img/CIMG0173.jpg" style="height: 400px; margin: auto;">
  <div class="about">
    <div class="container">
      <div class="text-center">
        <h2>About Us </h2>
        <div class="col-md-10 col-md-offset-1 content-container">
          <p><%= content.about %></p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="btn-gamp"><a href="/contact">Contact Us</a></div>
        </div>
        

      </div>
    </div>
  </div>
  <hr>

  <!-- <section id="about-us">
    <div class="container">
      <div class="text-center wow fadeInDown">
        <h2>Lots</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
      </div>
      <div class="lots-wrap clearfix">
        <div class="row">
          <div class="col-sm-3">
            <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="lots">
                Mountain
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="lots">
                Ocean
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="lots">
                Desert
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="lots">
                Large
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- our-team -->
      <!-- <div class="team">
        <div class="text-center wow fadeInDown">
          <h2>Team</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row clearfix">
          <div class="col-md-4 col-sm-6">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="img/man1.jpg" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>John Foster</h4>
                  <h5>Founder and CEO</h5> -->
                  <!-- <ul class="tag clearfix">
                    <li class="btn"><a href="#">Web</a></li>
                    <li class="btn"><a href="#">Ui</a></li>
                    <li class="btn"><a href="#">Ux</a></li>
                    <li class="btn"><a href="#">Photoshop</a></li>
                  </ul> -->

                  <!-- <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div> -->
              <!--/.media -->
              <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div> -->
          <!--/.col-lg-4 -->

<!-- 
          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="img/man2.jpg" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>Nicholas Hrboka</h4>
                  <h5>Developer</h5> -->
                  <!-- <ul class="tag clearfix">
                    <li class="btn"><a href="#">Web</a></li>
                    <li class="btn"><a href="#">Ui</a></li>
                    <li class="btn"><a href="#">Ux</a></li>
                    <li class="btn"><a href="#">Photoshop</a></li>
                  </ul> -->
                  <!-- <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div> -->
              <!--/.media -->
              <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div> -->
          <!--/.col-lg-4 -->
        <!-- </div> -->
        <!--/.row -->
        <!-- <div class="row team-bar">
          <div class="first-one-arrow hidden-xs">
            <hr>
          </div>
          <div class="first-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
          </div>
          <div class="second-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
          </div>
          <div class="third-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
          </div>
          <div class="fourth-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
          </div>
        </div> -->
        <!--skill_border-->

        <!-- <div class="row clearfix">
          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="img/man3.jpg" alt=""></a>
                </div>

                <div class="media-body">
                  <h4>Jhon Doe</h4>
                  <h5>Founder and CEO</h5>
                  <ul class="tag clearfix">
                    <li class="btn"><a href="#">Web</a></li>
                    <li class="btn"><a href="#">Ui</a></li>
                    <li class="btn"><a href="#">Ux</a></li>
                    <li class="btn"><a href="#">Photoshop</a></li>
                  </ul>
                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
              /.media -->
              <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="img/man4.jpg" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>Jhon Doe</h4>
                  <h5>Founder and CEO</h5>
                  <ul class="tag clearfix">
                    <li class="btn"><a href="#">Web</a></li>
                    <li class="btn"><a href="#">Ui</a></li>
                    <li class="btn"><a href="#">Ux</a></li>
                    <li class="btn"><a href="#">Photoshop</a></li>
                  </ul>
                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div> -->
              <!--/.media -->
              <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div> -->
          </div>
        </div> -->
        <!--/.row-->
      </div>
      <!--section-->
    </div>
    <!--/.container-->
  </section>
  <!--/about-us-->

    <footer>
      <div class="container">
        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h4>Contact Us</h4>
          <p>Contact us at anytime to begin your adventure.</p>
          <div class="contact-info">
            <ul>
              <li><i class="fa fa-home fa"></i> Jicaral, Puntarenas, Costa Rica</li>
              <!-- <li><i class="fa fa-phone fa"></i> Toll Free US/Canada: +1 (800) 309-2057</li> -->
              <li><i class="fa fa-phone fa"></i> USA Mobile: +1 (562) 607-4066</li>
              <li><i class="fa fa-phone fa"></i> CR Mobile: (+506) 8895-0693</li>
  
              <li><i class="fa fa-envelope fa"></i> Email: info@oceanpacificdreams.com</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <div class="sub-footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>

</html>
