<html lang="en">

<% include ./partials/head %>

<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="index.html"><h1>oceanpacificdreams</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/about" >About Us</a></li>
              <li role="presentation"><a href="/explore">Explore</a></li>
              <li role="presentation"><a href="/gallery">Gallery</a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <% if(loggedIn) { %>
				<li role="presentation"><a href="/account" class="active">Account</a></li>
				<li role="presentation"><a href="/logout">Logout</a></li>
			  <% } %>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->

  <div class="text-center">

    <h2>Welcome John!</h2>
    <p>This is where you can customize the content on the website.</p>
    <p>If you would like to edit the pictures in the gallery, got to the s3 bucket and change them there.</p>

    <h2>Summary</h2>
    <form action="/account/summary" method="POST">
        <textarea type="text" class="textBoxL" rows="10" cols="50" name="textSummary"><%= content.summary %></textarea>
        <br>
        <input type="submit" name="Submit" id="submitBtn" class="btn btn-default">
    </form>
    <br>
    <h2>About</h2>
    <form action="/account/about" method="POST">
        <textarea type="text" class="textBoxL" rows="10" cols="50" name="textAbout"><%= content.about %></textarea>
        <br>
        <input type="submit" name="Submit" id="submitBtn" class="btn btn-default">
    </form>

  </div>
  <footer>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h4>Contact Us</h4>
        <p>Contact us at anytime to begin your adventure.</p>
        <div class="contact-info">
          <ul>
            <li><i class="fa fa-home fa"></i> Jicaral, Puntarenas, Costa Rica</li>
            <li><i class="fa fa-phone fa"></i> Toll Free US/Canada: +1 (800) 309-2057</li>
            <li><i class="fa fa-phone fa"></i> USA Mobile: +1 (562) 607-4066</li>
            <li><i class="fa fa-phone fa"></i> CR Mobile: (+506) 8407-1286</li>

            <li><i class="fa fa-envelope fa"></i> Email: info@oceanpacificdreams.com</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="sub-footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>

</html>
