<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="/"><h1>oceanpacificdreams</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/about">About Us</a></li>
              <li role="presentation"><a href="/explore" class="active">Explore</a></li>
              <li role="presentation"><a href="/gallery">Gallery</a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <% if(loggedIn) { %>
                <li role="presentation"><a href="/account">Account</a></li>
                <li role="presentation"><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->

  <div class="services">
    <div class="container">
      <div class="text-center">
        <h2>consectetur adipisicing elit</h2>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <img src="img/monteverde.jpg" alt="Monteverde cloud forest">
          <h3>Monteverde cloud forest</h3>
          <p>The Monteverde Cloud Forest is one of the natural jewels of Costa Rica, as it is one of the forests of this type that still exist in the world and also one of the best known worldwide for scientific research produced in the area. It is located in the Sierra de Tilarán and is home to 2.5% of the world's biodiversity; approximately 10% of its flora is endemic. The town of Santa Elena offers a variety of hotels and restaurants, along with a wide range of activities both adventure and recreation, including a new activity that involves climbing trees with ropes for rappelling, canyoning, zip lines, and walks in the various private reserves in the area.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <img src="img/antonio.jpg" alt="Manuel Antonio national park">
          <h3>Manuel Antonio national park and its beaches</h3>
          <p>Manuel Antonio National Park is located in the Central Pacific, and it is the second most visited park in Costa Rica. The beauty of its white sand beaches and emerald waters is one of the biggest attractions of the area. According to Forbes (2012), Manuel Antonio is the eighth site for the world's most beautiful beach. The village is anchored in a patch of tropical rainforest in which you can easily observe many species of wildlife, including the howler monkeys, sloths, deer and raccoons, among many others. Its tourism offers can suit all budgets where you can find very luxurious hotels as well as hostel-type accommodation. This area is known for its themed restaurants and nightlife.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
          <img src="img/Poas.jpg" alt="Poas volcano">
          <h3>Poas volcano, its huge cráter, and the Botos lagoon</h3>
          <p>The Poas Volcano is located in the Central Volcanic Cordillera, about 2700 meters above sea level. This volcano has long been one of the most visited places in the country, both for its proximity to the Central Valley and because it boasts one of the world's largest geyser craters, approximately 1.32 kilometers in diameter. Most of the time, it lies hidden in the clouds and reveals itself only for a few hours a day to show its vastness and the bright colors of its acid lake; it is currently considered an active volcano. The volcano also has a second crater that lies in a green lagoon due to the high content of sulfuric acid. Poas Volcano National Park has an excellent infrastructure that is special for comforting all visitors; it also offers safe roads both to the crater and the Botos Lagoon.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="container">
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <img src="img/arenal.jpg" alt="Arenal volcano">
          <h3>Arenal volcano and La Fortuna area</h3>
          <p>La Fortuna is a town in the Northern Plains, home of the majestic Arenal Volcano and one of the most beautiful places in Costa Rica for its natural and geological wealth. It has a wide variety for tourists. The thermal waters from Arenal Volcano are rich in minerals associated with welfare, it is one of the most visited sites in the country where you can relax and enjoy a unique natural setting in the middle of the rainforest. In addition, you can find the country's largest artificial lake; Lake Arenal is located between beautiful forests and mountains.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <img src="img/irazu.jpg" alt="Irazú volcano">
          <h3>Irazú volcano</h3>
          <p>Located in the Central Volcanic Range about 31 kilometers from the city of Cartago, is another active volcano, the Irazu, and the highest in the country reaching 3,432 meters above sea level. His name is indigenous (Istarú) which means hill of tremor and thunder. It is protected by the shape of the National Park and has four craters and two lagoons. This volcanic series includes Irazu Volcano Turrialba, which is why they are often referred to as the twin volcanoes. Nearby you will find many attractions such as flower plantations, trout fishing sites, the Old Duran Sanitarium, and the colonial church Quirkot, among others. Also, in this area one can appreciate the Guayabo National Monument, which is an archaeological site of great importance to the country, recently declared a World Heritage Site for Engineering.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
          <img src="img/tortuguero.jpg" alt="Tortuguero channels">
          <h3>Tortuguero channels</h3>
          <p>Tortuguero channels represent the country’s second largest wetland and are considered by many visitors as the Amazon of Costa Rica for its natural beauty and rich biodiversity. It is located in the northern part of the Costa Rican Caribbean and you can only access the area by boat or plane as there are no roads. It is the nesting place of the country's most important green turtle, especially between March and October. The village of Tortuguero lies between the channels and the open sea, and it is the only town center area, you can find many hotels along the channels. Tortuguero is definitely a magical place for bird watching, because you can find more than 400 different species. Moreover, it is a site where one can have a unique experience immersed in nature.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="container">
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <img src="img/viejo.jpg" alt="Puerto Viejo">
          <h3>Puerto Viejo of Talamanca and Cahuita</h3>
          <p>In the Caribbean, there are two villages that are clearly identified by their full cultural richness of African descent and indigenous nuances, forming a unique blend in this country. Food, drink, music, and customs make this area a wonderful attraction for both domestic and foreign visitors. Its beaches both black volcanic sand and clear sandy keep the visitors happy while enjoying the sun and the rain forest that reaches the sea. Its natural wealth is well represented in Cahuita National Park and in its live coral reefs (35 different species of coral) that surrounds the Punta Cahuita. For lovers of surfing and snorkeling, the Caribbean is one of the most beautiful options.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <img src="img/drake.jpg" alt="Drake Bay">
          <h3>Drake Bay and the Corcovado national park</h3>
          <p>Located north of the Osa Peninsula, is the Corcovado National Park and the Drake Bay. It is one of the sites with less influx of tourists but with a wonderful and unique natural and archaeological wealth of the country. Corcovado is considered the place with the highest concentration of flora and fauna of the country, making it a mega biodiverse area, which is also known as the open zoo of Costa Rica. Until recently, Drake Bay, specifically the people of Agujitas, could only be visited by sea. Its beaches are rocky and contain a scenic beauty. In addition to the wildlife that inhabits these lands, the area is also known for the nearby attractions such as Caño Island, the Térraba-Tiller and the Archaeological Museum of Stone Spheres, among others.</p>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
          <img src="img/guanacaste.jpg" alt="Guanacaste beach">
          <h3>Guanacaste beach</h3>
          <p>The province of Guanacaste is home to dozens of beautiful beaches in its 200 kilometers of Pacific coast, some of which are internationally renowned for their beauty and the activities that are made in the vicinity, such as: snorkeling, diving, sailing tripsamong others. Guanacaste beaches offer the best areas for surfing and sport fishing offshore. Among the outstanding beaches of Guanacaste are: Tamarindo, Flamingo, Penca, Conchal, and Samara. The Guanacaste landscape is dominated by a dry tropical forest and the biodiversity therein. Given the popularity of the province, this area is accessible by way of the Daniel Oduber International Airport.</p>
        </div>
      </div>
    </div>
  </div>

    <footer>
      <div class="container">
        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h4>Contact Us</h4>
          <p>Contact us at anytime to begin your adventure.</p>
          <div class="contact-info">
            <ul>
              <li><i class="fa fa-home fa"></i> Jicaral, Puntarenas, Costa Rica</li>
              <!-- <li><i class="fa fa-phone fa"></i> Toll Free US/Canada: +1 (800) 309-2057</li> -->
              <li><i class="fa fa-phone fa"></i> USA Mobile: +1 (562) 607-4066</li>
              <li><i class="fa fa-phone fa"></i> CR Mobile: (+506) 8895-0693</li>
  
              <li><i class="fa fa-envelope fa"></i> Email: info@oceanpacificdreams.com</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
  <div class="sub-footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>

</html>
