<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="/"><h1>oceanpacificdreams</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/" class="active">Home</a></li>
              <li role="presentation"><a href="/about">About Us</a></li>
              <li role="presentation"><a href="/explore">Explore</a></li>
              <li role="presentation"><a href="/gallery">Gallery</a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <% if(loggedIn) { %>
                <li role="presentation"><a href="/account">Account</a></li>
                <li role="presentation"><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->

  <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="img/main4.jpg" class="img-responsive" alt="Costa Rica">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2><span>Own Land in Costa Rica</span></h2>
              </div>
             <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>68 plots of land available</p>
                </div>
              </div>
               <!-- <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                <form class="form-inline">
                  <div class="form-group">
                    <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                  </div>
                  <div class="form-group">
                    <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">Get Now</button>
                  </div>
                </form>
              </div> -->
            </div>
          </div>

          <div class="item">
            <img src="img/main2.jpg" class="img-responsive" alt="Costa Rica">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>Explore the Land</h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Connect with nature and the beautiful area</p>
                </div>
              </div>
              <!-- <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                <form class="form-inline">
                  <div class="form-group">
                    <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                  </div>
                  <div class="form-group">
                    <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Get Now</button>
                  </div>
                </form>
              </div> -->
            </div>
          </div>
          <div class="item">
            <img src="img/main3.jpg" class="img-responsive" alt="Costa Rica">
            <div class="carousel-caption">
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>Piece of Paradise</h2>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Every lot is unique. Build the house of your dreams in a peaceful and nature-connected community</p>
                </div>
              </div>
              <!-- <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                <form class="form-inline">
                  <div class="form-group">
                    <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Live Demo</button>
                  </div>
                  <div class="form-group">
                    <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Get Now</button>
                  </div>
                </form>
              </div> -->
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <div class="about">
    <div class="container">
      <div class="text-center">
        <h2>Costa Rica</h2>
        <div class="col-md-10 col-md-offset-1 content-container">
          <p><%= content.summary%></p>
        </div>

        <img class="img-responsive" src="img/beach9.jpg">
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="btn-gamp"><a href="/about">Learn More</a></div>
        </div>
        <!-- <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="gamp-btn"><a href="#">download</a></div>
        </div> -->

      </div>
    </div>
  </div>
  <hr>

  <div class="services">
    <div class="container text-center">
      <!-- <div class="text-center">
        <h2>consectetur adipisicing elit</h2>
      </div> -->
      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <i class="fa fa-tags"></i>
        <h1 style="color: black">68</h1>
        <h3>Plots of land available</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p> -->
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <i class="fa fa-sun-o"></i>
        <h1 style="color: black">4</h1>
        <h3>Terraces</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p> -->
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
        <i class="fa fa-plane"></i>
        <h1 style="color: black">1</h1>
        <h3>Destination</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p> -->
      </div>
      <!-- <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
        <i class="fa fa-gear"></i>
        <h3>Easy to Customize</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.</p>
      </div> -->
    </div>
  </div>

  <section class="text-center">
    <h3><em><strong>Plots of land for sale ranging from $50,000 to $120,000.</strong></em></h3>
  </section>

  <section class="action">
    <div class="container">
      <div class="left-image"></div>
      <div class="right-text">
        <h4>Ocean Property</h4>
        <p><em>Lots available along the coast.</em><br><br>Explore the coast and what the water has to offer.</p>
      </div>
    </div>
  </section>

  

  <section class="action">
    <div class="container">
      <div class="left-text">
        <h4>Land for Farming</h4>
        <p><em>Plenty of acres avaialble perfect for farming.</em><br><br>All lots have plenty of space and fertile soil, great for animals and vegetation.</p>
      </div>
      <div class="right-image"></div>
    </div>
  </section>

  <div class="gallery">
    <div class="text-center">
      <h2>Gallery</h2>
      <p>Make your vision a reality, the outdoors your backyard, the island your home </p>
    </div>
    <div class="container">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/CIMG0221.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Explore</h4>
            <p>Start your adventure here.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/beach2.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Dream</h4>
            <p>Create your dream home.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/CIMG0206.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Build</h4>
            <p>Develop the land and make it your own.</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/CIMG0164.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Create</h4>
            <p>Create your perfect reality.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/CIMG0160.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Relax</h4>
            <p>Enjoy the tranquil surroundings.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/beach1.jpg" alt="Costa Rica" class="img-responsive" />
          <figcaption>
            <h4>Retire</h4>
            <p>Live in paradise.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h4>Contact Us</h4>
        <p>Contact us at anytime to begin your adventure.</p>
        <div class="contact-info">
          <ul>
            <li><i class="fa fa-home fa"></i> Jicaral, Puntarenas, Costa Rica</li>
            <!-- <li><i class="fa fa-phone fa"></i> Toll Free US/Canada: +1 (800) 309-2057</li> -->
            <li><i class="fa fa-phone fa"></i> USA Mobile: +1 (562) 607-4066</li>
            <li><i class="fa fa-phone fa"></i> CR Mobile: (+506) 8895-0693</li>

            <li><i class="fa fa-envelope fa"></i> Email: info@oceanpacificdreams.com</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="sub-footer">
    <div class="container">
      <div class="social-icon">
        <div class="col-md-4">
          <ul class="social-network">
            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>
</body>

</html>
