<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>oceanpacificdreams - Lots for Sale in Costa Rica</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <div class="navbar-brand">
            <a href="index.html"><h1>oceanpacificdreams</h1></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/about" >About Us</a></li>
              <li role="presentation"><a href="/explore">Explore</a></li>
              <li role="presentation"><a href="/gallery">Gallery</a></li>
              <li role="presentation"><a href="/contact">Contact</a></li>
              <% if(loggedIn) { %>
				<li role="presentation"><a href="/account">Account</a></li>
				<li role="presentation"></li><a href="/logout">Logout</a></li>
			  <% } %>
            </ul>
          </div>
        </div>
      </div>
      <!--/.container-->
    </nav>
    <!--/nav-->
  </header>
  <!--/header-->
  
  <div class="container">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="form-group">
        <p class="signin">Login</p>
        
        <form action='/login' method="post">
            <label>User:</label>
            <br>
            <input class="form-control" type="text" name="email" required/>
            <br>
            <label>Password:</label>
            <br>
            <input class="form-control" type="password" name="password" required/>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit" required/>
        </form>
    </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>

</html>
